# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

.DS_Store

radiomics_analysis_results/

*.xlsx
*.csv

3D-DL-Classification/logs/
3D-DL-Classification/weights/
3D-DL-Classification/results/